name: Deploy new version of the site

on:
  pull_request:
    branches: [master]
    types:
      - closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: [self-hosted, prod]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Message
      - run: |
          echo The PR was merged proceeding to deploy the new site
